.AppNavLink {
  margin: 0 8px;
  padding: 16px;
  border-radius: 32px;

  color: var(--primary-main-color);
}

.AppNavLink:hover {
  background-color: var(--secondary-bg-color);

  transition: var(--primary-transition);
}
