.LangSwitcher {
  width: 64px;
  height: 64px;

  color: var(--primary-main-color);
  background-color: var(--primary-bg-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.LangSwitcher:hover {
  background-color: var(--secondary-bg-color);
}

.LangSwitcher path {
  fill: var(--primary-main-color);
}
