.app.dark {
  --bg-color: #373737;
  --inverted-bg-color: #aeaeae;

  --primary-color: rgb(255, 0, 255);
  --secondary-color: rgb(223, 78, 223);
  --inverted-primary-color: rgb(0, 55, 12);
  --inverted-secondary-color: rgb(0, 120, 42);
}
