.app.dark {
  --primary-bg-color: #252525;
  --secondary-bg-color: #454545;

  --primary-colorful-color: #00cc66;
  --secondary-colorful-color: #1c4f35;

  --primary-main-color: #ffffff;
  --secondary-main-color: #dddddd;

  --shadow-options: 0px 0px 4px 0px rgba(21, 21, 21, 1);
}
