.app.light {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #dddddd;

  --primary-colorful-color: #00cc66;
  --secondary-colorful-color: #bff2d8;

  --primary-main-color: #252525;
  --secondary-main-color: #454545;

  --shadow-options: 0px 0px 4px 0px rgba(21, 21, 21, 0.25);
}
