.Navbar {
  padding: 16px;
  width: 100%;
  height: var(--navbar-height);

  background: var(--primary-bg-color);

  -webkit-box-shadow: var(--shadow-options);
  -moz-box-shadow: var(--shadow-options);
  box-shadow: var(--shadow-options);

  display: flex;
  align-items: center;
}

.links {
  margin-left: auto;
}

.mainLink {
  margin-right: 16px;
}
